.logo {
    font-weight: bold;
    display: flex;
    font-size: 15px;
    margin: 0px;
}

.links {
    display: flex;
    gap:16px;
    justify-content: space-between;
    list-style: none;
    margin: 30px;

}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    background-color: rgb(33, 42, 85);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}